*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* HEADER */
.container-header{
    max-width: 2000px;
    margin: 0 auto;
}
.row-header{
    display: flex;
    align-items: center;
    width: 100%;
                                background-color: black;
                                height: 40px;
    
}
.col-header{
                                background-color: pink;
                                height: 20px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
.col-2{
    justify-content: end;
}
/* MAIN NUMERO 1 */

.h1-main1{
                                background-color: blanchedalmond;
   
}
.container-main1{
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
                                background-color: lightgrey;
                                height: 400px;
}
.row1-main1{
   
    width: 100%;
    max-width: 1000px;
    
}

.row2-main1{
    display: flex;
    max-width: 1000px;
    width: 100%;
    
    
                                height: 200px;
}
.col2-main1{
                                
    width: 40%;
                                background-color: red; 

}

.col3-main1{
                                
    width: 60%;
                                background-color: blue;
}
/* MAIN NUMERO 2 */
.container-main2{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
                                background-color: green;
                                height: 1000px;
}
.row1-main2{
    max-width: 900px;
    width: 100%;
    display:  flex;
    align-items: center;
    flex-direction: column;
                                
                                background-color: orange;
}
.col1-main2{
    width: 100%;
                                background-color: yellow;
                                height: 10%;
}
.col2-main2{
    width: 100%;
                                height: 70%;
}
.row-col{
    display: flex;
    gap: 20px;
                                background-color: blueviolet;
                                height: 100%;
    width: 100%;

}
.col{
    border: 1px solid white;
    width: calc(100% / 3 );
    
    
                                background-color: darkred;
                                height: 100%;
}


.col3-main2{
    background-color: yellow;
    width: 100%;
    height: 20%;
}
/* MAIN NUMERO 3*/
.container-main3{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.row-main3{
                                height: 400px;
                                background-color: dodgerblue;
    width: 100%;
    max-width: 900px;
    display: flex;
}
.col1-main3{
                                height: 100%;
                                background-color: indigo;
    width: 65%;
}
.col2-main3{
                                height: 100%;
                                background-color:yellowgreen;
    width: 35%;
}
/* MAIN NUMERO 4 */
.container-main4{
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
                                height: 400px;
}
.row1-main4{
   
    width: 100%;
    max-width: 900px;
    
}
.row2-main4{
   
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
                                height: 100%;
}
.col2-main4{
    width: calc(100% / 3 - 15px);
                                background-color: aqua;
                                height: 100%;
}