*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* HEADER */
.container-header{
    max-width: 2000px;
    margin: 0 auto;
}
.row-header{
    display: flex;
    background-color: black;
    align-items: center;
    width: 100%;
                                height: 40px;
    
}
.col-header{
    background-color: pink;
                                height: 20px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
.col-2{
    justify-content: end;
}
/* MAIN NUMERO 1 */

h1{
    background-color: blanchedalmond;
   
}
.container-main1{
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
    justify-content: end;
                                height: 400px;
}
.row-main1{
   
    width: 100%;
    max-width: 900px;
    
}

.row-main2{
    display: flex;
    max-width: 900px;
    width: 100%;
    background-color: green;
    align-items: center;
                                height: 200px;
}
.col-main1{
                                height: 100%;
    width: 40%;
    background-color: red; 

}

.col-main2{
                                height: 100%;
    width: 60%;
    background-color: blue;
}