*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* HEADER */
.container-header{
    max-width: 2000px;
    margin: 0 auto;
    position: relative;
}
.row-header{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: white;
                                
    
}
.col-header{
                                
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;

}
.col-2{
    justify-content: end;
}
li{
    display: inline-block;
    vertical-align: middle;
    padding: 20px 10px;

}
a{
    color: rgba(188,188,188,255);
    text-decoration: none;
    
    
}
.inizia{
    background-color: rgba(0,97,255,255);
    color: white;
    border: none;
    padding: 5px 15px;
}
.logo-small{
    width: 100%;
}
/* MAIN NUMERO 1 */

.h1-main1{
                                background-color: blanchedalmond;
   
}
.container-main1{
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
                                background-color: lightgrey;
                                height: 400px;
}
.row1-main1{
   
    width: 100%;
    max-width: 1000px;
    
}

.row2-main1{
    display: flex;
    max-width: 1000px;
    width: 100%;
    
    
                                height: 200px;
}
.col2-main1{
                                
    width: 40%;
                                background-color: red; 

}

.col3-main1{
                                
    width: 60%;
                                background-color: blue;
}
/* MAIN NUMERO 2 */
.container-main2{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
                                background-color: green;
                                height: 1000px;
}
.row1-main2{
    max-width: 900px;
    width: 100%;
    display:  flex;
    align-items: center;
    flex-direction: column;
                                
                                background-color: orange;
}
.col1-main2{
    width: 100%;
                                background-color: yellow;
                                height: 10%;
}
.col2-main2{
    width: 100%;
                                height: 70%;
}
.row-col{
    display: flex;
    gap: 20px;
                                background-color: blueviolet;
                                height: 100%;
    width: 100%;

}
.col{
    border: 1px solid white;
    width: calc(100% / 3 );
    
    
                                background-color: darkred;
                                height: 100%;
}


.col3-main2{
    background-color: yellow;
    width: 100%;
    height: 20%;
}
/* MAIN NUMERO 3*/
.container-main3{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.row-main3{
                                height: 400px;
                                background-color: dodgerblue;
    width: 100%;
    max-width: 900px;
    display: flex;
}
.col1-main3{
                                height: 100%;
                                background-color: indigo;
    width: 65%;
}
.col2-main3{
                                height: 100%;
                                background-color:yellowgreen;
    width: 35%;
}
/* MAIN NUMERO 4 */
.container-main4{
    max-width: 2000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
                                height: 800px;
}
.row1-main4{
   
    width: 100%;
    max-width: 900px;
    
}
.row2-main4{
   
    width: 100%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
                                height: 100%;
}
.col2-main4{
    width: calc((100% / 3) - (40px / 3));
                                background-color: aqua;
                                
}
/* MAIN NUMERO 5 */
.container-main5{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.row-main5{
                                height: 200px;
    
    width: 100%;
    max-width: 900px;
    
}
.col-main5{
    height: 100%;
    background-color: pink;
    width: 65%;
}
/* MAIN NUMERO 6 */
.container-main6{
    max-width: 2000px;
    margin: 0 auto;
}
.row-main6{
    display: flex;
    
    width: 100%;
                                background-color: rgb(184, 78, 78);
                                height: 400px;
}
.col-main6{
                                background-color: grey;
                                height: 100%;
    width: calc(100% / 3);
    border: 1px solid white;
    

}


/* SCACCHIERA */
.row-col-main6{
                                height: 100%;
    

}
.col-scacchiera{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
   
}
.square{ 
    border: 1px solid black;
    background-color: red;
    width: calc(100% / 2);
}
/* MAIN 7 UGUALE AL 3  */
.container-main7{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
}
.row-main7{
                                height: 200px;
                                background-color: dodgerblue;
    width: 100%;
    max-width: 900px;
    display: flex;
}
.col1-main7{
                                height: 100%;
                                background-color: rebeccapurple;
    width: 65%;
}
.col2-main7{
                                height: 100%;
                                background-color:chocolate;
    width: 35%;
}
/* MAIN NUMERO 8 */
.container-main8{
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.row-main8{

                                height: 300px;
                                background-color: aquamarine;
    width: 100%;
    max-width: 900px;
}
/* FOOTER NUMERO 1 */
.container-footer1{
    max-width: 2000px;
    margin: 0 auto;
                                background-color: black;
    display: flex;
    justify-content: center;


}
.row-footer1{
    max-width: 1000px;
    width: 100%;
    display: flex;
                                height: 400px;
                                

}
.col-footer1{
    width: calc(100% / 5);
    border: 1px solid white;
                                height: 100%;
}
/* FOOTER NUMERO 2 */
.container-footer2{
    margin: 0 auto;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.row-footer2{
                                height: 50px;
    
    width: 100%;
    max-width: 1000px;
    display: flex;
    
}
.col-footer2{
    height: 100%;
    background-color: pink;
    width: 100%; 
}